@import "../../../styles/settings.scss";

.panelBar {
  background: #000000;
  padding: 15px;
  justify-content: space-between;

  .title {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    color: #f8f5f5;
  }

  .dots {
    height: 15px;
    transform: translateY(-29px);
    background-color: white;
  }
}


.times {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 45px;
  display: none;
}

.time {
    width: 70px;
    height: 70px;
    background-color: $darkGray1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $text-color-light;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 5;
    flex-direction: column;

  
    h5, h6 {
      margin: 0;
      opacity: 1;
    }
    h6 {
        font-size: 15px;;
    }
}

.addtocartbtn {
  position: absolute;
  top: 120px;
  left: 120px;
  display: none;
}

.dots {

  position: relative;
  background: #000000;
  padding: 10px;
  justify-content: space-between;
  

  ul {
    margin: 0;
    list-style: none;
    background-color: #000000;
    transform: translateY(5px);

    li {
      display: inline-block;
      margin-left: 10px;

      a {
        font-size: 0;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: #ffffff;

        &.active,
        &:hover {
          background-color: #d58e32;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .component {
    display: none;
  }

  .panelBar {
    display: none;
  }

  .dots {
    display: none;
  }
}



.component {

  img {
    height: 224px;
  }

  &:hover {
  .times {
    display: flex;
  }
  .addtocartbtn {
    display: inline;
  }
 }
}

