@import "../../../styles/settings.scss";

.NewsletterMenu {
  background: $light;
  padding: 20px;
}

.NewsletterTitle {
  font-size: 1.6rem;
  margin-right: 30px;
  color: $orange;
  padding: 5px;
}

.NewsletterSendButton {
  margin-left: 20px;
  padding: 0px 15px 0px 15px;
  border: none;
  border-radius: 5px;
}

input {

  margin: 10px;
  border: none;
  min-width: 20em;
  border-left: $light solid 1px;
  margin-left: 20px;
  padding-left: 10px;
}

.iconContainer {
  background-color: #fff;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}
